	<include file="Index/header"/>
	<section class="content-wrap">
		<div class="container">
			<div class="row">
				<main class="col-md-8 main-content">

				<volist name="list" id="vo">
					<article class="post">
						<div class="header">
							<h3 class="post-title"><a href="###">{$vo.title}</a></h3>
						</div>
						<div class="post-meta">
							<span class="date"><i class="icon icon-calendar"></i>{$vo.date}</span>
						    <span class="category">
						    	<i class="icon icon-tags"></i>
						    		<php>
					    				$j=0;
					    				foreach($tags[$i-1] as $value){
					    					echo"<a href=#>";echo($value);echo"</a>";
					    					$j++;
					    					if($j< count($tags[$i-1]))
					    					echo("&nbsp;&nbsp;&&nbsp;&nbsp;");
					    					
					    				}
						    		</php>

						    </span>
							<span class="comments"><a href="###"><i class="icon icon-comments"></i>{$vo.comments_count}&nbsp;comments</a></span>
							<span class="like-count"><i class="icon icon-thumbs-up"></i>{$vo.thumbsup}</span>
						</div>
							<p>{$vo.content|msubstr=0,200,'utf-8',true}<a href="{:U('Home/article/read/')}?ar_id={$vo.ar_id}">Read more</a>
							</p>
					</article>
				</volist>

				<div>{$page}</div>
				</main>

				<include file="Index/side"/>
				
			</div>
		</div>
	</section>
	<script type="text/javascript" src="__PUBLIC__/lib/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/function.js"></script>
</body>
</html>
